<div class="c-form-generator">
  <form class="c-form-generator__form" :id="formSchema.formId" @submit.prevent.stop="validateAndSubmit" novalidate
        v-el:form>
    <div class="c-form-generator__body">
      <template v-for="fieldSet in fieldSets">
        <slot v-if="fieldSet.slot" :name="fieldSet.slot"></slot>
        <div v-else class="c-form-generator__row">
          <div class="c-form-generator__column" :class="getFieldWrapperClasses(field)"
               v-for="field in fieldSet"
               :data-model-wrapper="generateFieldIdentifier(field)">
            <div :class="getFieldClasses(field)"
                 :data-model-placeholder="generateFieldIdentifier(field)"></div>
          </div>
        </div>
      </template>
      <input type="submit" :id="formSchema.formId + '-submit'" style="display:none;"/>
    </div>
    <div class="c-form-generator__footer" v-if="footerSlotsCounts">
      <slot name="footer"/>
    </div>
  </form>
</div>
