<div class="c-input" :class="classes">
  <c-label v-if="showLabel" :text="label" :input-id="id"></c-label>

  <c-error
      v-if="errorReplaceLabel"
      class="c-input__error--top"
      :error-message="validationError"
      :input-id="id"></c-error>

  <div class="c-input__field">
    <input
        class="c-input__field-input"
        v-model="value"
        :id="id"
        :name="name"
        :type="fieldType"
        :form="form"
        :placeholder="placeholder"
        :autofocus="autofocus"
        :autocomplete="autocomplete"
        :disabled="disabled"
        :maxlength="maxLength"
        @focus="onFocus"
        @blur="onBlur"
        @keydown="onKeyDown"
        @input="onInput"
        @invalid.prevent
        v-masked-input="value"
        :mask="mask"
        v-el:input/>
    <div class="c-input__overlay">
      <c-suggestion v-if="showSuggestion" :text="suggestion" @click="value = suggestion"></c-suggestion>
      <c-icon type="checkmark" v-if="isValid && !focused"></c-icon>
      <c-icon type="close" v-if="isInvalid && !focused" @click.prevent="resetValue"></c-icon>
      <c-info-icon v-if="!!info" :title="infoTitle" :text="info"></c-info-icon>
      <span class="c-input__toggle"
            v-if="showVisibilityToggle"
            @mousedown.prevent
            @click="toggleVisibility()">
        <c-icon type="eye" v-if="valueVisibile"></c-icon>
        <c-icon type="eye-closed" v-if="!valueVisibile"></c-icon>
      </span>
    </div>
  </div>

  <c-hint v-if="hint" :text="hint"></c-hint>

  <c-error
      v-if="errorBelowInput"
      class="c-input-error--bottom"
      :error-message="validationError"
      :input-id="id"></c-error>
</div>
